// .color-top-bg {
//     background-color: #00DBDE;
//     background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
//   }

.color-top-bg {
    background: linear-gradient(90.15deg, #1A237E -25.16%, #4A148C 26.74%, #465BDE 81.55%, #009FCA 112.57%, #00A9A1 122.57%);
}



.color-btn-bg {
    // background-color: #ce06f2;
    // background-image: linear-gradient(62deg, #ce06f2 0%, #f59400 100%);
    background: linear-gradient(88.95deg, #9C27B0 -3.15%, #E42391 48.48%, #FF536F 81.27%, #FF8D54 106.6%);
    border-radius: 5px;

}

.color-honor-bg {
    background: linear-gradient(88.95deg, #9C27B0 -3.15%, #E42391 48.48%, #FF536F 81.27%, #FF8D54 106.6%) !important;
}

.color-join-now-bg {
    background: linear-gradient(88.95deg, #9C27B0 -3.15%, #465BDE 48.48%, #009FCA 81.27%, #00A9A1 106.6%) !important;
}